<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="sidebar">
		<nav class="navbar-vertical-nav d-none d-xl-block">
			<div class="navbar-vertical">
				<div class="px-4 py-5">
					<a href="../index.html" class="navbar-brand">
						<img th:src="@{/images/logo/freshcart.png}" alt="eCommerce HTML Template"
							style="height: 78px; width: auto; object-fit: contain;" />
					</a>
				</div>
				<div class="navbar-vertical-content flex-grow-1" data-simplebar="">
					<ul class="navbar-nav flex-column" id="sideNavbar">
						<li class="nav-item">
							<a class="nav-link  active " href="index.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-house"></i></span>
									<span class="nav-link-text">Dashboard</span>
								</div>
							</a>
						</li>
						<li class="nav-item mt-6 mb-3">
							<span class="nav-label">Store Managements</span>
						</li>
						<li class="nav-item">
							<a class="nav-link " th:href="@{/article/add}">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-cart"></i></span>
									<span class="nav-link-text">Add Product</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " th:href="@{/category/list}">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
									<span class="nav-link-text">Categories</span>
								</div>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  collapsed " href="#" data-bs-toggle="collapse"
								data-bs-target="#navCategoriesOrders" aria-expanded="false"
								aria-controls="navCategoriesOrders">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-bag"></i></span>
									<span class="nav-link-text">Orders</span>
								</div>
							</a>
							<div id="navCategoriesOrders" class="collapse " data-bs-parent="#sideNavbar">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link " th:href="@{/orders/order-details}">List</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link " th:href="@{/orders/order-single}">Single</a>
									</li>
								</ul>
							</div>
						</li>


						<li class="nav-item">
							<a class="nav-link  collapsed " href="#" data-bs-toggle="collapse"
								data-bs-target="#navCustomer" aria-expanded="false" aria-controls="navCustomer">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-people"></i></span>
									<span class="nav-link-text">Customers</span>
									<span class="badge bg-light-success text-dark-success ms-2">New</span>
								</div>
							</a>
							<div id="navCustomer" class="collapse " data-bs-parent="#sideNavbar">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link " th:href="@{/article/customers}">Customers</a>
									</li>
									<!-- Nav item -->
									<!-- <li class="nav-item">
										<a class="nav-link " href="create-customers.html">Create Customers</a>
									</li> -->
									<!-- Nav item -->
									<!-- <li class="nav-item">
										<a class="nav-link " href="customers-edits.html">Edit Customers</a>
									</li> -->m
								</ul>
							</div>
						</li>

						<li class="nav-item">
							<a class="nav-link " href="vendor-grid.html">
								<div class="d-flex align-items-center">
									<span class="nav-link-icon"><i class="bi bi-shop"></i></span>
									<span class="nav-link-text">Sellers / Vendors</span>
								</div>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>

</html>