<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{../vendors/feather/feather.css}">
  <link rel="stylesheet" th:href="@{../vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{../vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.css}">
  <link rel="stylesheet" th:href="@{../vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" type="text/css" th:href="@{../js/select.dataTables.min.css}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" th:href="@{../css/vertical-layout-light/style.css}">
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{../images/favicon.png}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <div th:replace="fragments/Navbar :: Navbar"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div th:replace="fragments/RightSidebar :: RightSidebar"></div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <div th:replace="fragments/Sidebar :: sidebar"></div>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
           <div class="col-12 grid-margin stretch-card">
              <div class="card mt-4">
  <div class="card-body">
    <h4 class="card-title">Add Category</h4>
    <form class="forms-sample" th:action="@{/categories/save}" method="post">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter category name" required>
      </div>
      <button type="submit" class="btn btn-primary mr-2">Add Category</button>
      <button type="reset" class="btn btn-light">Cancel</button>
    </form>
  </div>
</div>

            </div>
          </div>         
        </div>
  
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. Premium <a
                href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.
              All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <script th:src="@{../vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{../vendors/chart.js/Chart.min.js}"></script>
  <script th:src="@{../js/off-canvas.js}"></script>
  <script th:src="@{../js/hoverable-collapse.js}"></script>
  <script th:src="@{../js/template.js}"></script>
  <script th:src="@{../js/settings.js}"></script>
  <script th:src="@{../js/todolist.js}"></script>
  <script th:src="@{../js/dashboard.js}"></script>
  <script th:src="@{../js/Chart.roundedBarCharts.js}"></script>
</body>

</html>