<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">

<head th:replace="fragments/header :: common-header" />


<body class="d-flex flex-column">
   <div th:replace="fragments/header :: navbar"> </div>


   <!-- Shop Cart -->

   <main>
      <section class="mt-8">
         <div class="container">
            <div class="hero-slider">
               <div
                  th:style="'background: url(' + @{/images/slider/Banner.png} + ') no-repeat; background-size: cover; border-radius: 0.5rem; background-position: center'">
                  <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center">
                     <span class="badge text-bg-warning">Opening Sale Discount 50%</span>
                     <h2 class="text-dark display-5 fw-bold mt-4">Welcome to <b>CampusCart</b> </h2>
                     <p class="lead">Experience the future of campus shopping with <b>CampusCart</b> . Enjoy seamless
                        online
                        ordering, exclusive student deals, and
                        quick delivery—making your college life easier than ever.
                     </p>
                     <a href="#!" class="btn btn-dark mt-3">
                        Shop Now
                        <i class="feather-icon icon-arrow-right ms-1"></i>
                     </a>
                  </div>
               </div>

            </div>
         </div>
      </section>
      <!-- Category Section Start-->
      <section class="mb-lg-10 mt-lg-14 my-8">
         <div class="container">
            <div class="row">
               <div class="col-12 mb-6">
                  <h3 class="mb-0">Featured Categories</h3>
               </div>
            </div>
            <div class="row category-slider">
               <div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="cat : ${categories}">
                  <a th:href="@{/store}" class="text-decoration-none text-inherit">
                     <div class="card card-product mb-lg-4">
                        <div class="card-body text-center py-8">
                           <img th:src="@{'/images/category/' + ${cat.image}}" alt="Category Image"
                              class="mb-3 img-fluid" />
                           <div class="text-truncate" th:text="${cat.name}">Category Name</div>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
      <!-- Category Section End-->
      <section>
         <div class="container">
            <div class="row">
               <div class="col-12 col-md-6 mb-3 mb-lg-0">
                  <div>
                     <div class="py-10 px-8 rounded"
                        style="background: url(assets/images/banner/banner1.png) no-repeat; background-size: cover; background-position: center">
                        <div>
                           <h3 class="fw-bold mb-1">T-Shirts & Clothes</h3>
                           <p class="mb-4">
                              Get Upto
                              <span class="fw-bold">20%</span>
                              Off on Latest Fashion
                           </p>
                           <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>

                     </div>
                  </div>
               </div>
               <div class="col-12 col-md-6">
                  <div>
                     <div class="py-10 px-8 rounded"
                        style="background: url(assets/images/banner/banner2.png) no-repeat; background-size: cover; background-position: center">
                        <div>
                           <h3 class="fw-bold mb-1">Latest Smart Watches</h3>
                           <p class="mb-4">
                              Save Up To
                              <span class="fw-bold">15%</span>
                              Today
                           </p>
                           <a href="#!" class="btn btn-dark">Shop Now</a>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="my-lg-14 my-8">
         <div class="container">
            <div class="row">
               <div class="col-12 mb-6">
                  <h3 class="mb-0">Popular Products</h3>
               </div>
            </div>

            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
               <div class="col" th:each="article : ${articles}">
                  <div class="card card-product">
                     <div class="card-body">
                        <div class="text-center position-relative">
                           <div class="position-absolute top-0 start-0">
                              <span class="badge bg-danger">Sale</span>
                           </div>
                           <a href="#!">
                              <img th:src="@{'/products/' + ${article.picture}}" alt="Product Image"
                                 class="mb-3 img-fluid" />
                           </a>

                           <div class="card-product-action">
                              <a href="#!" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                 <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true"
                                    title="Quick View"></i>
                              </a>
                              <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                 title="Wishlist">
                                 <i class="bi bi-heart"></i>
                              </a>
                              <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                                 title="Compare">
                                 <i class="bi bi-arrow-left-right"></i>
                              </a>
                           </div>
                        </div>

                        <div class="text-small mb-1">
                           <a href="#!" class="text-decoration-none text-muted">
                              <small>Snack & Munchies</small>
                           </a>
                        </div>

                        <h2 class="fs-6">
                           <a href="pages/shop-single.html" class="text-inherit text-decoration-none"
                              th:text="${article.title}">Haldiram's Sev Bhujia</a>
                        </h2>

                        <div>
                           <small class="text-warning">
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-fill"></i>
                              <i class="bi bi-star-half"></i>
                           </small>
                           <span class="text-muted small">4.5(149)</span>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                           <div>
                              <span class="text-dark" th:text="'$' + ${article.price}">$18</span>
                              <span class="text-decoration-line-through text-muted">$24</span>
                           </div>
                           <div>
                              <a th:href="@{/article-detail?id=}+${article.id}" class="btn btn-primary btn-sm">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                 </svg>
                                 Add
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> <!-- End of .col -->
            </div> <!-- End of .row -->
         </div>
      </section>
      <section class="my-lg-14 my-8">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-lg-3">
                  <div class="mb-8 mb-xl-0">
                     <div class="mb-6"><img src="assets/images/icons/clock.svg" alt="" /></div>
                     <h3 class="h5 mb-3">10 minute grocery now</h3>
                     <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near you.
                     </p>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3">
                  <div class="mb-8 mb-xl-0">
                     <div class="mb-6"><img src="assets/images/icons/gift.svg" alt="" /></div>
                     <h3 class="h5 mb-3">Best Prices & Offers</h3>
                     <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best
                        pricess & offers.</p>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3">
                  <div class="mb-8 mb-xl-0">
                     <div class="mb-6"><img src="assets/images/icons/package.svg" alt="" /></div>
                     <h3 class="h5 mb-3">Wide Assortment</h3>
                     <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg &
                        other categories.</p>
                  </div>
               </div>
               <div class="col-md-6 col-lg-3">
                  <div class="mb-8 mb-xl-0">
                     <div class="mb-6"><img src="assets/images/icons/refresh-cw.svg" alt="" /></div>
                     <h3 class="h5 mb-3">Easy Returns</h3>
                     <p>
                        Not satisfied with a product? Return it at the doorstep & get a refund within hours. No
                        questions asked
                        <a href="#!">policy</a>
                        .
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>


   <div th:replace="fragments/header :: footer"> </div>
   <div th:replace="fragments/header :: body-scripts"> </div>

</body>

<!-- Mirrored from freshcart.codescandy.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Nov 2024 06:08:12 GMT -->

</html>