<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org./1999/xhtml">
<head th:replace="fragments/header :: common-header" />


<body class="d-flex flex-column">
  <div th:replace="fragments/header :: navbar"> </div>

<div class="container my-3 my-sm-5 page-content">
  <div class="row justify-content-center" id="row-login">
    <div class="col-sm-10 col-md-11 col-lg-9 col-xl-10">
      <div class="card card-login">
        <div class="card-body">
          <div class="row">
            <!-- Login Form -->
            <div class="col-md-6 border-end">
              <form th:action="@{/login}" method="post">
                <h4 class="mb-3 text-center">Sign In</h4>
                <div class="row g-3">
                  <div class="col-12">
                    <label for="formSigninUsername" class="form-label visually-hidden">Username</label>
                    <input type="text" class="form-control" id="formSigninUsername" name="username" placeholder="Username"
                      th:classappend="${param.error} ? is-invalid" required />
                    <div class="invalid-feedback">Please enter username.</div>
                  </div>

                  <div class="col-12">
                    <div class="password-field position-relative">
                      <label for="formSigninPassword" class="form-label visually-hidden">Password</label>
                      <input required type="password" class="form-control" placeholder="Password" name="password"
                        th:classappend="${param.error} ? is-invalid">
                      <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                      <div class="invalid-feedback">Please enter password.</div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-between">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="true" name="remember-me" id="flexCheckDefault" />
                      <label class="form-check-label" for="flexCheckDefault">Remember me</label>
                    </div>
                    <div>
                      Forgot password? <a href="forgot-password.html">Reset It</a>
                    </div>
                  </div>

                  <div class="col-12 d-grid">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                  </div>

                  <div class="text-center">
                    Don’t have an account? <a href="#register">Sign Up</a>
                  </div>
                </div>
              </form>
            </div>

            <!-- Register Form -->
            <div class="col-md-6" id="register">
              <form th:action="@{/new-user}" method="post">
                <h4 class="mb-3 text-center">Register</h4>

                <div class="form-group mb-3">
                  <div class="input-icon">
                    <i data-feather="mail"></i>
                    <input required type="email" class="form-control" th:classappend="${emailExists} ? is-invalid"
                      name="email" placeholder="Email address" th:value="${email}">
                    <div class="invalid-feedback">Email is already in use</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <div class="input-icon">
                    <i data-feather="user"></i>
                    <input required type="text" class="form-control" th:classappend="${usernameExists} ? is-invalid"
                      placeholder="Username" name="username" th:value="${username}">
                    <div class="invalid-feedback">Username is already in use</div>
                  </div>
                </div>

                <div class="form-group mb-4">
                  <div class="input-icon">
                    <i data-feather="lock"></i>
                    <input type="password" required class="form-control" name="new-password"
                      placeholder="Password" autocomplete="new-password">
                  </div>
                </div>

                <div class="col-12 d-grid">
                    <button type="submit" class="btn btn-primary">Register</button>
                  </div>
              </form>
            </div>
            <!-- /Register Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <div th:replace="fragments/header :: footer"> </div>
  <div th:replace="fragments/header :: body-scripts"> </div>
  
</body>
</html>